* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gotham";
  src: url(./Assets/Fonts/gotham_ssv/Gotham-Light.otf);
}

@font-face {
  font-family: "Neue";
  src: url(Assets/Fonts/HelveticaNeueCyr-Bold.ttf);
}

/* Navbar section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  background-color: #383838;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
}

.logo {
  display: flex;
  font-size: 28px;
  font-weight: bold;
}

.logo svg {
  width: auto;
  color: #d35266;
  font-size: 50px;
}

.logo div {
  padding: 0 20px;
  color: #fff;
  align-self: center;
}

.navbar-items {
  display: flex;
  align-items: center;
  flex: 1;
}

.navbar-items a {
  text-decoration: none;
}

.nav-elements {
  display: flex;
  padding: 0 10px;
}

.navbar-items a .nav-elements:hover {
  color: #fff;
}

.nav-elements svg {
  margin: 0 10px;
}

.navbar-items a:nth-child(1) {
  color: #d35266;
}

.nav-elements button {
  background-color: #d35266;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.navbar-items a:nth-child(2),
.navbar-items a:nth-child(3) {
  color: #888;
}

.acoount-section {
  display: flex;
  align-items: center;
}

.acoount-section > * {
  margin: 0 10px;
  width: auto;
}

.acoount-section h5 {
  color: #fff;
}

.acoount-section svg {
  color: #888;
}

nav img {
  border-radius: 50%;
  height: 45px;
}

header {
  background-color: #d35266;
  padding: 80px 40px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.slogan {
  font-size: 50px;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
}

header h3 {
  font-size: 20px;
  padding: 7px 0;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
}

header form {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 0.5fr;
  grid-template-rows: 47px;
  width: 100%;
  padding: 30px 0;
}

header input::placeholder {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 3vh;
}

header button {
  background-color: #383838;
  color: #888;
  border: none;
  padding: 0 20px;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 3vh;
}

 select {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 3vh;
}
